<div class="container__card-mini">
    <div class="card-mini__content">
        <div class="card-mini__photo">
            <img src="{{ photoCover }}" alt="" srcset="">
        </div>
        <div class="card-mini__info">
            <div class="card-mini__date">
                <p>18 de Jun 2025</p>
            </div>
            <div class="card-mini__description">
                <p>
                    <a [routerLink]="['content', Id]">{{ description }}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="card-mini__separator">
        <hr>
    </div>
</div>
